td {
    text-align: center;
    border: 1px solid black;
}

body{
    background-color: antiquewhite;
    text-align: center;
}

tr:nth-child(even){
    background-color: lightsalmon;
}

tr:nth-child(odd){
    background-color: white;
}

table{
    border: 1px solid black;
}