th{
    text-align: center;
    border: 1px solid black;
}

td {
    text-align: center;
    border: 1px solid black;
}

body{
    background-color: white;
}

tr:nth-child(even){
    background-color: #FF8952;
}

tr:nth-child(odd){
    background-color: antiquewhite;
}

table{
    border: 1px solid black;
}